

.tinylistview {position:relative;width:100%;height:600px}
.tinylistview >div {position:absolute;left:0;right:0;overflow:hidden}
.tinylistview .tlv_row {position:absolute}
.tinylistview >.tlv_scroll_containter {overflow:auto}
.tinylistview >.tlv_header {top:0}
.tinylistview >.tlv_footer {bottom:0}

.tinylistview .tlv_item_active {background-color: #9A2F2F}
.tinylistview .tlv_row {height:56px}
.tinylistview >.tlv_scroll_containter {top:56px;bottom:56px}

.tlv_body .tlv_row {position:absolute;left:0}
.tlv_body .tlv_row {height:56px}
.tlv_body {position:relative}

.tlv_row {background-color: #FAFAFA; white-space:nowrap;}
.tlv_row >div >div {display:inline-block;width:300px;height:100%;vertical-align:top}

